# Add any directories, files, or patterns you don't want to be tracked by version control#
/.idea
*cmake
*.cbp
*.depend
*.layout
/bin
/obj
*make*
client/attachments
client/test
server/mailpool
*test*
client/mailclient
server/mailserver
*.jpg
*.mp4

# Prerequisites
*.d

# Compiled Object files
*.slo
*.lo
*.o
*.obj

# Precompiled Headers
*.gch
*.pch

# Compiled Dynamic libraries
*.so
*.dylib
*.dll

# Fortran module files
*.mod
*.smod

# Compiled Static libraries
*.lai
*.la
*.a
*.lib

# Executables
*.exe
*.out
*.app
